<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="uk.ac.lancs.comp.vmlstar.TextEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="vml"
            icon="icons/TSL.gif"
            id="uk.ac.lancs.comp.vmlstar.texteditor"
            name="VML Editor">
      </editor>
   </extension>

</plugin>
